﻿@model SklepDotNet.Models.Kategorie

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Dodaj kategorię</h1>

<h4>Kategorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NazwaKategorii" class="control-label"></label>
                <input asp-for="NazwaKategorii" class="form-control" />
                
                <span asp-validation-for="NazwaKategorii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" placeholder="Dodaj"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
