﻿@model SklepDotNet.Models.Kategorie

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Delete";
}

<h1>Usuń Kategorię</h1>

<h3>Na pewno usunąć?</h3>
<div>
    <h4>Kategorie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaKategorii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaKategorii)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdKategorii" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
