﻿@model SklepDotNet.Models.Kategorie

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Kategorie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaKategorii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaKategorii)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdKategorii">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
