﻿@model IEnumerable<SklepDotNet.Models.Kategorie>

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Kategorie</h1>

<p>
    <a asp-action="Create">Dodaj nową kategorię</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazwaKategorii)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaKategorii)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKategorii">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.IdKategorii">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKategorii">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
