﻿@model SklepDotNet.Models.Zamowienium

 

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
  decimal xile = SessionHp.GetObjectFromJson<decimal>(Context.Session, "wartoscZam");
}


<h4>Składanie zamówienia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdKlientaNavigation.EmailKlienta" class="control-label"></label>
                <input name="EmailK" id="EmailK" class="form-control" type="email" />
                <span asp-validation-for="IdKlientaNavigation.EmailKlienta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKlientaNavigation.AdresKlienta" class="control-label"></label>
                <input name="AdresK" id="AdresK" class="form-control" />
                <span asp-validation-for="IdKlientaNavigation.AdresKlienta" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                    <input type="hidden" asp-for="DataZlozeniaZamowienia" value="@DateTime.Now" />
                    <input type="hidden" asp-for="WartoscZamowienia" value="@xile" /> 
                    <input type="hidden" asp-for="IdStatusuZamowienia" value="1004" />
                    
            </div>
            
            <div class="form-group">
                <input type="submit" value="Złóż zamówienie - zapłacisz: @xile" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Cart" asp-action="Koszyk">Wróć do koszyka</a>
</div>

