﻿
@{
    ViewData["Title"] = "Dodano";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    @{ 
        ViewBag.email = SessionHp.GetObjectFromJson<string>(Context.Session, "email");
        ViewBag.NrZam = SessionHp.GetObjectFromJson<int>(Context.Session, "NrZam");
    }
    <h1>Stworzono zamówienie nr @ViewBag.NrZam dla @ViewBag.email</h1>
    <h2>Dziękujemy za zakup!</h2>
    <h3>Miłego dnia</h3>
    @{
        SessionHp.SetObjectAsJson(Context.Session, "koszyk", null);
    }
    <a asp-controller="Home" asp-action="Index"> Powrót do sklepu</a>

</div>
