﻿@model SklepDotNet.Models.Produkty


@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Nowy produkt</h1>

<h4>Produkty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NazwaProduktu" class="control-label"></label>
                <input asp-for="NazwaProduktu" class="form-control" />
                <span asp-validation-for="NazwaProduktu" class="text-danger" lang="pl"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpisProduktu" class="control-label"></label>
                <input asp-for="OpisProduktu" class="form-control" />
                <span asp-validation-for="OpisProduktu" class="text-danger" lang="pl"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenaProduktu" class="control-label"></label>
                <input asp-for="CenaProduktu" class="form-control" step="0.01" min="0.01" max="99999.99" lang="en"/>
                <span asp-validation-for="CenaProduktu" class="text-danger" lang="pl"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKategoria" class="control-label"></label>
                <select asp-for="IdKategoria" class ="form-control" asp-items="ViewBag.IdKategoria" lang="pl"></select>
            </div>
            <div class="form-group">
                <label asp-for="IloscWMagazynie" class="control-label"></label>
                <input asp-for="IloscWMagazynie" class="form-control" min="0" max="10000" lang="pl"/>
                <span asp-validation-for="IloscWMagazynie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
