﻿@model SklepDotNet.Models.Produkty

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Delete";
}

<h1>Usuń produkt</h1>

<h3>Definitywnie usunąć?</h3>
<div>
    <h4>Produkty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaProduktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaProduktu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisProduktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisProduktu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenaProduktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenaProduktu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKategoriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKategoriaNavigation.NazwaKategorii)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
