﻿@model SklepDotNet.Models.Produkty

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produkty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaProduktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaProduktu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisProduktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisProduktu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenaProduktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenaProduktu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKategoriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKategoriaNavigation.NazwaKategorii)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
