﻿@model SklepDotNet.Models.Produkty

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produkty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NazwaProduktu" class="control-label"></label>
                <input asp-for="NazwaProduktu" class="form-control" />
                <span asp-validation-for="NazwaProduktu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpisProduktu" class="control-label"></label>
                <input asp-for="OpisProduktu" class="form-control" />
                <span asp-validation-for="OpisProduktu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenaProduktu" class="control-label"></label>
                <input asp-for="CenaProduktu" class="form-control" />
                <span asp-validation-for="CenaProduktu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKategoria" class="control-label"></label>
                <select asp-for="IdKategoria" class="form-control" asp-items="ViewBag.IdKategoria"></select>
                <span asp-validation-for="IdKategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IloscWMagazynie" class="control-label"></label>
                <input asp-for="IloscWMagazynie" class="form-control" min="0" max="10000" lang="pl" />
                <span asp-validation-for="IloscWMagazynie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
