﻿@model IEnumerable<SklepDotNet.Models.Produkty>


@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Produkty</h1>

<form method="post" asp-action="Index">
    <p>Szukaj produkt:</p>
    <input type="text" placeholder="Nazwa produktu" name="SzukajProdukt" id="SzukajProdukt" />
    <input type="submit" value="Szukaj" name="Szukaj" />
</form>

<p>
    <a asp-action="Create">Dodaj nowy produkt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazwaProduktu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpisProduktu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenaProduktu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IloscWMagazynie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaProduktu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisProduktu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenaProduktu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKategoriaNavigation.NazwaKategorii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IloscWMagazynie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
