﻿@model SklepDotNet.Models.StatusyZamowienium

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Definitywnie usunąć?</h3>
<div>
    <h4>Statusy Zamówień</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaStatusu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaStatusu)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdStatusu" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
