﻿@model IEnumerable<SklepDotNet.Models.StatusyZamowienium>

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Statusy</h1>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazwaStatusu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaStatusu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStatusu">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.IdStatusu">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.IdStatusu">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
