﻿@model SklepDotNet.Models.Klienci

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Edit";
}

<h1>Edytuj</h1>

<h4>Klienci</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdKlienta" />
            <div class="form-group">
                <label asp-for="EmailKlienta" class="control-label"></label>
                <input asp-for="EmailKlienta" class="form-control" />
                <span asp-validation-for="EmailKlienta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdresKlienta" class="control-label"></label>
                <input asp-for="AdresKlienta" class="form-control" />
                <span asp-validation-for="AdresKlienta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
