﻿@model IEnumerable<SklepDotNet.Models.Klienci>

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Klienci</h1>

<p>
    <a asp-action="Create">Dodaj nowego klienta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailKlienta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresKlienta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailKlienta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresKlienta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKlienta">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.IdKlienta">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKlienta">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
