﻿@model SklepDotNet.Models.SzczegolyZamowienium

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h1>Usuń</h1>

<h3>Definitywnie?</h3>
<div>
    <h4>Szczegóły zamówień</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscZamowionegoProduktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscZamowionegoProduktu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProduktuNavigation.NazwaProduktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProduktuNavigation.NazwaProduktu)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdZamowieniaNavigation.IdZamowienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdZamowieniaNavigation.IdZamowienia)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSzczegolyZamowienia" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
