﻿@model SklepDotNet.Models.SzczegolyZamowienium

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h1>Szczegóły zamówień</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscZamowionegoProduktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscZamowionegoProduktu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProduktuNavigation.NazwaProduktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProduktuNavigation.NazwaProduktu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdZamowieniaNavigation.IdZamowienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdZamowieniaNavigation.IdZamowienia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSzczegolyZamowienia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
