﻿@model SklepDotNet.Models.SzczegolyZamowienium

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h1>Edytuj</h1>

<h4>Szczegóły zamówień</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSzczegolyZamowienia" />
            <div class="form-group">
                <label asp-for="IdZamowienia" class="control-label"></label>
                <select asp-for="IdZamowienia" class="form-control" asp-items="ViewBag.IdZamowienia"></select>
                <span asp-validation-for="IdZamowienia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProduktu" class="control-label"></label>
                <select asp-for="IdProduktu" class="form-control" asp-items="ViewBag.IdProduktu"></select>
                <span asp-validation-for="IdProduktu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IloscZamowionegoProduktu" class="control-label"></label>
                <input asp-for="IloscZamowionegoProduktu" class="form-control" />
                <span asp-validation-for="IloscZamowionegoProduktu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

