﻿@model IEnumerable<SklepDotNet.Models.SzczegolyZamowienium>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h1>Szczegóły zamówień</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProduktuNavigation.NazwaProduktu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IloscZamowionegoProduktu)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IdZamowieniaNavigation.IdZamowienia)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProduktuNavigation.NazwaProduktu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IloscZamowionegoProduktu)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IdZamowieniaNavigation.IdZamowienia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSzczegolyZamowienia">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.IdSzczegolyZamowienia">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSzczegolyZamowienia">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
