﻿
@{
    ViewData["Title"] = "Koszyk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{


}
<div style="text-align:center">
    <h1>Koszyk</h1>
    @{
        if (ViewBag.koszyk == null)
        {
            ViewBag.koszyk = SessionHp.GetObjectFromJson<List<SzczegolyZamowienium>>(Context.Session, "koszyk");
        }
        decimal xile = 0;
    }
    @foreach (var item in ViewBag.koszyk)
    {
        <div style="border:2px;border-style:groove; block-size:max-content">
            <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.IdProduktuNavigation.Id">Usuń z koszyka</a><br />
            @item.IdProduktuNavigation.NazwaProduktu
            <br />
            <p>Cena produktu:</p>
            @item.IdProduktuNavigation.CenaProduktu
            <br />
            <p>Ilość zamawianego produktu: </p>
            @item.IloscZamowionegoProduktu
            <br />
            <p>
                Razem za produkt:
                @{
                    var x = item.IdProduktuNavigation.CenaProduktu * @item.IloscZamowionegoProduktu;
                    xile += x;
                }
                @x
            </p>
        </div>
    }
    <p>Razem: @xile</p>
    @{
        SessionHp.SetObjectAsJson(Context.Session, "wartoscZam", xile);
    }
    <a asp-controller="Home" asp-action="Index">Kontynuuj zakupy</a><br /><br />
    <a asp-controller="ZlozZam" asp-action="Create">Złóż zamówienie</a>
</div>