﻿@model SklepDotNet.Models.Zamowienium

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Zamówienia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WartoscZamowienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WartoscZamowienia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZlozeniaZamowienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZlozeniaZamowienia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKlientaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKlientaNavigation.AdresKlienta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStatusuZamowieniaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStatusuZamowieniaNavigation.NazwaStatusu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdZamowienia">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
