﻿@model IEnumerable<SklepDotNet.Models.Zamowienium>

@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Zamówienia</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdKlientaNavigation.EmailKlienta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataZlozeniaZamowienia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WartoscZamowienia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdStatusuZamowieniaNavigation.NazwaStatusu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdKlientaNavigation.EmailKlienta)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZlozeniaZamowienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WartoscZamowienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdStatusuZamowieniaNavigation.NazwaStatusu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdZamowienia">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.IdZamowienia">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.IdZamowienia">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
